[submodule "Composer_Verilator"]
	path = Composer_Verilator
	url = git@github.com:ChrisKjellqvist/Composer_Verilator.git
[submodule "Composer-Hardware"]
	path = Composer-Hardware
	url = git@github.com:ChrisKjellqvist/Composer-Hardware.git
[submodule "Composer-Software"]
	path = Composer-Software
	url = git@github.com:ChrisKjellqvist/Composer-Software.git
